
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

:root {
    --bg-color: #ffffff;
    --text-color: #101828;
    --card-color: #eef2f7;
}



@media (prefers-color-scheme: dark) {
    body.dark-mode {
        --bg-color: #101828;
        --text-color: #ffffff;
    }

    th, td {
        --text-color: #ffffff;
    }

    .borrar {
        --text-color: #ffffff;
    }

    .box {
        --bg-color: black;
    }

    h2 {
        --text-color: #e4e7ec;
    }

    p {
        --text-color: #98a2b3;
    }

    .header-txt h1 {
        --text-color: #e4e7ec;
    }

    .header-txt p {
        --text-color: #98a2b3;
        
    }

    .menu-icono span{
        --bg-color: #FFFFFF;
    }
    
    .product-txt h3 {
        --text-color: #e4e7ec;
    }

    .volver {
        color: #ffffff;
        background-color: #101828;
    }


    .form {
        background-color: #101828;
        color: #FFFFFF;
    }

    .update {
        background-color: #101828;
        color: #FFFFFF;
        border: 2px solid #FFFFFF;
    }

}

.dark-mode {
    --bg-color: #0a0f1c;
    --text-color: #ffffff;
    --card-color: #101828;
    th, td {
        color: #FFFFFF;
    }

    .borrar {
        color: #FFFFFF;
    }

    .box {
        background-color: #0c1322;
    }

    h2 {
        font-size: 45px;
        line-height: 55px;
        color: #e4e7ec;
        margin-bottom: 15px;
    }

    p {
        font-size: 16px;
        color: #98a2b3;
        margin-bottom: 45px;
    }

    .header-txt h1 {
        color: #e4e7ec;
    }

    .header-txt p {
        color: #98a2b3;
        
    }

    .claro {
        display: none;
    }

    .oscuro {
        display: block;
    }

    .menu {
        background-color: rgba(255, 255, 255, 0.594);
    }

    .volver {
        color: #ffffff;
        background-color: #101828;
    }


    .form {
        background-color: #101828;
        color: #FFFFFF;
    }

    .update {
        background-color: #101828;
        color: #FFFFFF;
        border: 2px solid #FFFFFF;
    }
}

body {
    transition: all 500ms;
}

main {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

h1 {
    padding-bottom: 20px;
    text-align: center;
    display: block;
    font-size: 60px;
}

.volver {
    font-weight: 500;
    display: block;
    text-align: center;
    margin-left: 42%;
    margin-right: 42%;
    padding: 15px 45px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    color: #000000;
    text-transform: capitalize;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.volver:hover {
    box-shadow: 0 10px 24px rgba(37, 99, 235, 0.3);
    border-top: 3px solid #2563eb;
    border-bottom: 3px solid #2563eb;
}

.form {
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #000000;
}


.update {
    background-color: #FFFFFF;
    border-radius: 10px;
    color: #000000;
    border: 2px solid #000000;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
}

.update:hover {
    background: #2563eb;
    box-shadow: 0 10px 24px rgba(37, 99, 235, 0.3);
    border: 2px solid #00000000;
}

