# Bloquear acceso directo a certificados
<FilesMatch "\.(pem|key|crt|p12|pfx)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Bloquear acceso directo al php
<FilesMatch "\.php$">
    Order Allow,Deny
    Deny from all
</FilesMatch>